<footer class="py-3 mt-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">
            &copy; <a href="https://seart.si.usi.ch/" target="_blank" class="link-secondary">SEART</a> 2023
        </span>
    </div>
</footer>