.hljs * {
    font-family: var(--bs-font-monospace)!important;
}

.hljs-ln-numbers {
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding-right: 5px!important;
}

.hljs-ln-code {
    padding-left: 10px!important;
}

.hljs-string > a {
    color: inherit!important;
    text-decoration: inherit!important;
}

.hljs-string > a:hover {
    filter: brightness(75%)!important;
}
