@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('../fonts/trebuc.woff') format('woff');
}

* {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
}

#label-offcanvas, #discard-offcanvas {
    width: 768px!important;
}

.autocomplete-menu.dropdown-menu {
    position: relative!important;
    margin-bottom: .5rem!important;
}

.logo-box {
    color: var(--bs-light)!important;
    background-color: var(--bs-navbar-color)!important;
    padding-left: .5rem!important;
    padding-right: .125rem!important;
    margin-right: .125rem!important
}

.logo-text {
    color: var(--bs-navbar-color)!important
}

.logo:hover .logo-box {
    background-color: var(--bs-navbar-hover-color)!important
}

.logo:hover .logo-text {
    color: var(--bs-navbar-hover-color)!important
}

.page-item.disabled {
    cursor: not-allowed!important;
}

.option-agree:not(:checked) {
    background-color: rgba(var(--bs-success-rgb), 0.35);
}

.option-disagree:not(:checked) {
    background-color: rgba(var(--bs-danger-rgb), 0.35);
}

.option-regular:not(:checked) {
    background-color: inherit;
}

.text-current {
    color: currentColor!important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none!important;
}

input[type='number'] {
    appearance: textfield!important;
}

a[target="_blank"] {
    cursor: alias!important;
}
