<noscript>
    <div role="alert" class="alert alert-warning d-block d-md-none z-3 m-0 w-100 rounded-0">
        <strong>Warning!</strong>
        JavaScript is disabled in your browser.
        This site can not function properly without it.
    </div>
    <div role="alert" class="alert alert-warning d-none d-md-block z-3 m-3 position-absolute bottom-0 end-0">
        <strong>Warning!</strong>
        JavaScript is disabled in your browser.<br/>
        This site can not function properly without it.
    </div>
</noscript>